/bin
/parser_test
/middle_result
/log
/.settings
.classpath
/test
/parser_test/
case_report.md
stress_report.md
/etc
/config/*
!/config/Woodpecker.conf
!/config/MySQL_configuration.conf
!/config/PostgreSQL_configuration.conf
!/config/log4j.properties
!/config/CEDAR_compile.conf
!/config/example.conf
/database_instance/*
!/database_instance/example.dbi
/ideal_result_set/*
!/ideal_result_set/example.result
